#ignore cmake garbage
robotCode/bin/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
robotCode/Makefile

#ignore cmake garbage, but in jettsonCode
robotCode/jettsonCode/build
robotCode/jettsonCode/CMakeFiles
robotCode/jettsonCode/cmake_install.cmake
robotCode/jettsonCode/Makefile
robotCode/jettsonCode/CMakeCache.txt



#ignore what appear to be some magic gcc compiled code
*.gch
*.h.gch