[Unit]
Description = This robot will absolutely SHREEEEEEEEEKKKKKKKKKK the competition
StartLimitIntervalSec=10
[Service]
Type=simple
User=root
Group=root
ExecStart=/home/pi/Documents/GitRepos/UNDLunarRobotics/bin/example
WorkingDirectory=/home/pi/Documents/GitRepos/UNDLunarRobotics
Restart=no
RestartLimitBurst=10

[Install]
WantedBy=multi-user.target
